.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
}

.input-fields {
    display: flex;
    flex-direction: column;
}

.cdk-overlay-container {
    background-color: black !important;
    pointer-events: unset !important;

}

.cdk-global-overlay-wrapper {
    background-color: black !important;
    pointer-events: unset !important;

}

.cdk-overlay-dark-backdrop {
    background-color: black !important;
    pointer-events: unset !important;

}

.cdk-overlay-backdrop {
    background-color: black !important;
    pointer-events: unset !important;

}


