<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-container"></div>


    <ul class="menu-items">
      <li routerLink='/dashboard'><mat-icon>fact_check</mat-icon>Dashboard</li>
      <li routerLink='/user'><mat-icon>perm_identity</mat-icon>User</li>
      <li routerLink='/calender'><mat-icon>event</mat-icon>Calender</li>
      <li (click)="openDescription()">
        <mat-icon>announcement</mat-icon>Description
      </li>
      <li (click)="openPrivacyPolicy()">
        <mat-icon>lock</mat-icon>Privacy policy
      </li>
      <li (click)="openLegalNotice()">
        <mat-icon>poll</mat-icon>Legal Notice
      </li>
    </ul>
  </mat-drawer>
  <div>
    <mat-toolbar style="background-color: rgba(52, 61, 70); color: #f9c732;">
      <mat-toolbar-row  >
        <mat-icon (click)="drawer.toggle()" class="menu-icon pointer" >menu</mat-icon>
        <span (click)="drawer.toggle()" class="pointer">Simple CRM</span>
        <img class="logout-img pointer" [matMenuTriggerFor]="logOut" src="assets/img/male.png" alt="">
        <mat-menu #logOut="matMenu">
          <button  (click)="logUserOut()" mat-menu-item>Log out</button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
<div *ngIf="loginBackground == true" class="login-background">
  <mat-card style="width: 300px;" *ngIf="login == true" class="mt-32">
    <mat-card-header class="header-address">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="input-fields login">
        <mat-form-field  appearance="outline">
          <mat-label>Email</mat-label>
          <input #loginEmail matInput>
          <mat-hint class="warning-input" *ngIf="falseLoginData">Please enter a valid email address</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" #loginPassword matInput>
          <mat-hint class="warning-input" *ngIf="falseLoginData">Please enter a valid password
            address</mat-hint>
        </mat-form-field>
      </div>
      <div mat-dialog-actions>
        <button (click)="loginApp()" mat-button cdkFocusInitial>Login</button>
        <button (click)="loginGuest()" mat-button cdkFocusInitial>Guest login</button>
        <button (click)="openSignIn()" mat-button cdkFocusInitial>Sign in</button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="signUp == true" class="mt-32">
    <mat-card-header class="header-address">
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="input-fields login">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input #firstName [(ngModel)]="userLogin.firstName" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input #lastName [(ngModel)]="userLogin.lastName" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input #email [(ngModel)]="userLogin.email" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input #password type="password" [(ngModel)]="userLogin.password" matInput>
        </mat-form-field>
      </div>
      <div mat-dialog-actions>
        <button (click)="closeSignIn()" mat-button>Cancel</button>
        <button (click)="saveUserLogin()" mat-button cdkFocusInitial>Save</button>
      </div>
    </mat-card-content>
  </mat-card>

</div>