.example-container {
    height: 100vh;
    background-color: rgb(237, 237, 235);
}

.menu-icon {
    cursor: pointer;
    padding-right: 16px;
}

.sidenav {
    width: 200px;
    background-color: rgba(52, 61, 70);
    color: white;
}

.logo-container {
    //border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
    height: 56px;
 }

 .mat-toolbar-row, .mat-toolbar {
    min-height: 56px;
    height: 56px;
 }

 .menu-items {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;

        mat-icon {
            margin-right: 16px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
 }

 .router-container {
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 1000px;
    margin-top: 32px;
 }

 