.example-container {
    height: 100vh;
    background-color: rgb(237, 237, 235);
}


.menu-icon {
    padding-right: 16px;
}


.pointer {
    cursor: pointer;
}


.sidenav {
    width: 200px;
    background-color: rgba(52, 61, 70);
    color: white;
}


.login-btn {
    display: flex;
    padding: 0;
    justify-content: space-between;
}


.mb-16 {
    margin-bottom: 16px;
}


.logout-img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-style: 2px black;
    background-color: #f9c732;
    display: flex;
    position: absolute;
    right: 20px;
}


.logo-container {
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
    height: 56px;
 }


 .mat-toolbar-row, .mat-toolbar {
    min-height: 56px;
    height: 56px;
 }


 .menu-items {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;

        mat-icon {
            margin-right: 16px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
 }


 .router-container {
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 1000px;
    margin-top: 32px;
 }


 .login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    background-color: white;
}


.login {
    display: flex;
}


.warning-input {
    width: 100%; 
    color: red;
}


.message {
    text-align: center;
}


.login-background-message {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    background-color: white;
}


@media (max-width: 650px) {
    .login-background-message {
        display: flex;
    }
}


@media (max-width: 750px) {
    .router-container {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
     }
}

 