<mat-card class="user-detail-header">
    <div class="userMenuField">
        <img *ngIf="user.sex == 'male'" src="assets/img/male.png" alt="">
        <img *ngIf="user.sex == 'female'" src="assets/img/female.png" alt="">

        <div class="user-details" >
            <h2>{{ user.firstName }} {{ user.lastName }}</h2>
            <h3>{{ user.email }}</h3>
        </div>
    </div>

    <div class="userMenu-btn">
        <button [matMenuTriggerFor]="menu" mat-icon-button >
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button (click)="editUserDetail()" mat-menu-item>Edit user</button>
            <button (click)="deleteUser()" routerLink="/user" mat-menu-item>Delete user</button>
          </mat-menu>
    </div>
</mat-card>

<mat-card class="mt-32">
    <mat-card-header class="header-address">
        <button mat-icon-button (click)="editAddress()">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{ user.street }} <br>
            {{ user.zipCode }} {{ user.city }}
        </p>
    </mat-card-content>
</mat-card>


<mat-card class="mt-32">
    <mat-card-header class="header-address">
        <button mat-icon-button (click)="editBankDetails()">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-card-title>Bank details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{ user.bank }} <br>
            {{ user.iban }} <br>
            {{ user.payment }}
        </p>
    </mat-card-content>
</mat-card>

<mat-card class="mt-32">
    <mat-card-header class="header-address">
        <button mat-icon-button (click)="editNotice()">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-card-title>Notice</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{ user.notice }} 
        </p>
    </mat-card-content>
</mat-card>


<mat-card class="mt-32">
    <mat-card-header class="header-address">
        <button mat-icon-button (click)="editFeedback()">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-card-title>Feedback of User</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <!--<p>
            {{ user.feedbackstatus }} 
        </p>-->
        <p>
            {{ user.feedback }} 
        </p>
    </mat-card-content>
</mat-card>