<div class="dashboard">

    <div class="first-row">
        <mat-card class="mt-32 first-row-component">
            <mat-card-content>
                <mat-card-title>Total this month</mat-card-title>
                <mat-card-title class="total-number">100.304&euro;</mat-card-title>

            </mat-card-content>
        </mat-card>

        <mat-card class="mt-32 first-row-component">
            <mat-card-content>
                <mat-card-title>Total target</mat-card-title>
                <mat-card-title class="total-number">120.000&euro;</mat-card-title>

            </mat-card-content>
        </mat-card>

        <mat-card class="mt-32 first-row-component">
            <mat-card-content>
                <mat-card-title>Email activity</mat-card-title>

                <app-email-chart></app-email-chart>
            </mat-card-content>
        </mat-card>
    </div>

    <mat-card class="mt-32">
        <mat-card-content>
            <app-bar-chart></app-bar-chart>
        </mat-card-content>
    </mat-card>



</div>


<!--<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Chart.js Diagramme</h1>
            <button mat-raised-button color="primary" matTooltip="chart.js - horizontal bar chart"
                (click)="openHorizontalBarChart()"><i class="material-icons">open_in_new</i> horizontal bar chart</button>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>-->