<div class="dashboard">
    <app-bar-chart></app-bar-chart>
    <app-email-chart></app-email-chart>
</div>


<!--<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Chart.js Diagramme</h1>
            <button mat-raised-button color="primary" matTooltip="chart.js - horizontal bar chart"
                (click)="openHorizontalBarChart()"><i class="material-icons">open_in_new</i> horizontal bar chart</button>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>-->