<mat-card class="mt-32">
    <mat-card-header class="header-address">
        <mat-card-title>Project description</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <p>Welcome to my "Simple-CRM".<br> <br>With this project I want to show you some of my programming skills with Angular. <br> 

            CRM systems are complex and only make sense in reality if they are filled with a lot of data and linked to databases. 
            <br>Of course I could not realize this complexity here. 
            Here you can create, edit and delete user data and save them in a backend. Also you can see the implementation of a login, charts and a simple calendar.
            <br>
            <br>
            Frontend: Angular, Angular Material, Chart.js <br>
            Backend: Firebase
            
        </p>
    </mat-card-content>
</mat-card>
